@font-face {
  font-family: 'Next Sphere Black';
  src: url('/public/fonts/Next-Sphere-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Next Sphere Thin';
  src: url('/public/fonts/Next-Sphere-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center;
}

.App div:first-child {
  font-family: 'Next Sphere Black', sans-serif;
  font-size: 7vw; /* Use viewport width for scaling */
}

.App div:last-child {
  font-family: 'Next Sphere Thin', sans-serif;
  font-size: 2vw; /* Viewport width ensures it scales */
  margin-top: 2vw; /* Space between the two lines, also in vw for responsiveness */
}
