@font-face {
  font-family: 'Next Sphere Black';
  src: url('/public/fonts/Next-Sphere-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Next Sphere Thin';
  src: url('/public/fonts/Next-Sphere-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center;
}

.App div:first-child {
  font-family: 'Next Sphere Black', sans-serif;
  font-size: 8vw;
}

.App div:nth-child(2) {
  font-family: 'Next Sphere Thin', sans-serif;
  font-size: 3vw;
  margin-top: 2vw;
}

.link {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 0.01em;
  margin-left: 0.3vw;
}

.link:hover {
  text-decoration: none;
}
